/* TopBar.module.css */
.container {
  height: 40px;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.title {
  margin: 0;
  font-size: 16px;
  color: white;
}

.loginLink{
  margin-left: auto;
  margin-right: 0px;
  color: white;
}

.registerLink{
  margin-left:auto;
  color: white;
}

.logoutBtn{
  display:none;
}

.userEmail{
  display:none;
  color: white;
}